#Configuration File for OSM Splitter Tool.  Used for temporary runs

#woerrstadt.osh.pbf    BBOX    8.1010,49.8303,8.1359,49.8567
#gau-odernheim.osh     OSM     clipbounds/aaa_test/go.osm
#germany.osh           POLY    clipbounds/europe/germany.poly

#/data/osm_files/splitter_exports/north-america/us-midwest.osm.pbf	POLY	clipbounds/north-america/us-midwest.poly

/data/osm_files/splitter_exports/north-america/illinois.osm.pbf	BBOX	-91.51,36.97,-87.02,42.51